body {
  background-color: #e5dbcd;
  font-family: Sans-Serif;
}
nav {
  background: #000000;
  background: rgba(0,0,0,0.8);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
}
nav a:link {
  display: inline-block;
  font-family: serif;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
nav a:visited, nav a:active {
  color: white;
}
nav a {
  margin: 10px 20px;
}
